@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}


body {
    height: 100vh;
    background-color: #333333;
    width: 100vw;
    overflow-x: hidden;
}

/* menu */
.menu {
    color: #FFF;
    position: fixed;
    bottom: 50px;
    font-size: 20px;
    left: -200px;
    transition: 0.7s ease-in;
}

.menuAvant {
    left: 20px;
}

.menu i {
    margin-right: 20px;
}

.about {
    padding: 0 20px;
    margin: 20px 0;
    transition: 0.9s ease-in;

}

.contact {
    padding: 0 40px;
    transition: 1.2s ease-in;


}


/* cercle */
.cercle {
    width: 200px;
    height: 200px;
    background-color: #FF7979;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 50px;
    position: fixed;
    top: -100px;
    left: -100px;
    transition: 0.7s ease-in;
}

.cercle i {
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
}

.rotateCercle {
    transform: rotate(-70deg);
}

/* container */

.container {
    position: absolute;
    background-color: #FAFAFA;
    transform-origin: top left;
    transition: 0.7s ease-in;

}

.rotatePage {
    transform: rotate(-20deg);
}

.main {
    margin: 8% 15%;
}

img {
    width: 100%;
}

p,
h3 {
    margin: 20px 0;
    text-align: justify;
}