body {
    background-color: #FFF;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

}

.card {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease-in;
}

.card h2{
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 30px;
    transition: 0.7s ease-in;

    

}

.card1 {
    background-image: url('img/1.jpg') ; 

}

.card2 {
    background-image: url('img/2.jpg');
}

.card3 {
    background-image: url('img/3.jpg');
}

.card4 {
    background-image: url('img/4.jpg');
}

.card5 {
    background-image: url('img/5.jpg');
}

.full {
    width: 800px;
}

.full h3 {
    transition: 0.7s ease-in;

}